<label for="firstName">First Name: </label>
<input
  type="text"
  name="firstName"
  id="firstName"
  placeholder="John"
  value="<%= locals.user?.firstName || '' %>"
  required
/>

<label for="lastName">Last Name: </label>
<input
  type="text"
  name="lastName"
  id="lastName"
  placeholder="Doe"
  value="<%= locals.user?.lastName || '' %>"
  required
/>

<label for="email">Email: </label>
<input
  type="email"
  name="email"
  id="email"
  placeholder="john.doe@email.com"
  value="<%= locals.user?.email || '' %>"
  required
/>

<label for="age">Age: </label>
<input
  type="number"
  min="1"
  max="120"
  name="age"
  id="age"
  placeholder="32"
  value="<%= locals.user?.age || '' %>"
/>

<label for="bio">Bio: </label>
<textarea
  name="bio"
  id="bio"
  maxlength="200"
  rows="4"
  placeholder="John Doe, 32, is a jazz guitarist who loves blending diverse styles and creating unique musical expressions."
>
<%= locals.user?.bio || '' %></textarea
>
