<!DOCTYPE html>
<html>
  <head>
    <link rel="icon" type="image/x-icon" href="favicon.ico" />
    <link rel="stylesheet" href="/styles.css" />
    <title><%= title %></title>
  </head>
  <body>
    <%- include("partials/navbar", {search: locals.search, isIndex: true}) %> <%
    if (locals.users && locals.users.length > 0) { %>
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Email</th>
          <th>Age</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <% users.forEach(function(user) { %>
        <tr>
          <td><%= user.id %></td>
          <td><%= user.firstName %> <%= user.lastName %></td>
          <td><%= user.email %></td>
          <td><%= user.age || "N/A" %></td>
          <td class="actions">
            <a href="/user/<%= user.id %>">
              <span class="icon view-user" title="View User"></span>
            </a>

            <a href="/<%= user.id %>/update">
              <span class="icon update-user" title="Update User"></span>
            </a>

            <form
              action="/<%= user.id %>/delete"
              method="POST"
              style="display: inline"
            >
              <button
                class="delete-user-btn"
                type="submit"
                onclick="return confirm('Are you sure you want to delete this user?');"
              >
                <span class="icon delete-user" title="Delete User"></span>
              </button>
            </form>
          </td>
        </tr>

        <% }) %>
      </tbody>
    </table>
    <% } else { %>
    <h3 class="no-users">No matching users</h3>
    <% } %>
  </body>
</html>
