<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles.css" />
    <title><%= user.firstName %> <%= user.lastName %></title>
  </head>
  <body>
    <%- include("partials/navbar") %>

    <section class="user-data">
      <p>
        <span class="name"><%= user.firstName %> <%= user.lastName %></span>
        <span class="lastname"><%= user.email %></span>
        <span class="years"><%= user.age %> years old</span>
        <span class="bio"><%= user.bio %></span>
      </p>
    </section>
  </body>
</html>
